@media all and (max-width: 36em) {
  .login-container {
    width: 75%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (min-width: 36em) {
  .login-container {
    width: 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.login-button {
  margin: 3em;
  width: 12em;
}